* {
    margin: 0;
    padding: 0;
}

.wine {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.left {
    width: 30vw;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.left_zhiqu {
    display: flex;
}

.zhiqu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: calc(30vw);
    height: calc(60vh);
    background-color: rgb(232, 227, 222);
}

#zhiqu_lprocess {
    width: calc(7vw);
    height: calc(60vh);
}

#zhiqu_process {
    width: calc(23vw);
    height: calc(60vh);
    display: flex;
    justify-content: flex-start;
}

#zhiqu_rprocess {

    width: calc(9vw);
    height: calc(60vh);
}

.zhiqu_step {
    fill: rgb(255, 255, 255);
}

.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 12px;
    height: 30%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    opacity: 0;
    max-width: 100px;
}


.swiperCon {
    width: 70vw;
    height: 100vh;
    overflow: hidden;
}

.swiperA {
    width: 70vw;
    height: 100vh;
}

.flow {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 100vh;
    background-color: #e5ddd7;
}

.process {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(70vw);
    height: calc(100vh);
    background-color: antiquewhite;
}

.psvg {
    z-index: 100;
}

.sort {
    z-index: 1000;
    display: flex;
    position: absolute;
    right: 100px;
    top: 60px;
    animation: appear 0.5s;
}

.sort1 {
    width: 100px;
    height: 50px;
    margin-right: 20px;
    background-color: rgb(232, 217, 247);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-family: "楷体";
    font-weight: bold;
    color: rgb(37, 37, 31);
    cursor: pointer;
}

.describe {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 10px;
    width: 50vw;
    min-height: 50px;
    left: 13vw;
    top: 80vh;
    background-color: aqua;
    font-size: 18px;
    text-indent: 36px;
    font-family: "楷体";
    font-weight: bold;
}

.container {
    width: 20vw;
    position: absolute;
    left: 20px;
}

.swiper {
    width: 20vw;
    height: 80vh;
}

.swiper-slide1 {
    display: flex;
    align-items: center;
}

.box {
    height: 100px;
    width: 100px;
    /* background-color: rgb(255, 221, 141); */
    background-image: url(./material/jar.png);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-family: "楷体";
    color: white;
    cursor: pointer;
}

.chord {
    height: 100vh;
    width: 70vw;
    background-color: aquamarine;
}

.shortM,
.longM,
.line {
    fill: none;
    stroke: rgb(183, 179, 174);
    stroke-width: 1px;
}

.scircle {
    fill: #80d1c8;
    stroke: rgb(177, 173, 167);
}

.dot {
    fill: white;
    stroke: #80d1c8;
    stroke-width: 2px;
}

.dot.main {
    fill: #80d1c8;
    stroke: white;
    opacity: 0.7;
}

.step {
    font-size: 16px;
    color: bisque;
    font-family: "楷体";
    font-weight: bold;
}

.step.main {
    font-size: 18px;

}

.chord {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chordLinks {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.dot.main.active,
.dot.active {
    transform-origin: center center;
    transform-box: fill-box;
    cursor: pointer;
    stroke: #01847f;
    fill: #80d1c8;
    stroke-width: 6px;
    opacity: 0.5;
    transition: all 0.5s;
}

.dot.main.active:hover,
.dot.active:hover {
    opacity: 1;
    stroke-width: 7;
    transform: scale(1.2)
}


.dot.active.selected,
.dot.main.active.selected {
    stroke: #984f31;
    fill: burlywood;
}

.chordCir {
    z-index: 100;
    fill: burlywood;
    stroke: rgb(110, 78, 78);
    stroke-width: 2px;
}

.chordCir {
    z-index: 100;
    fill: burlywood;
    stroke: rgb(110, 78, 78);
    stroke-width: 2px;
}

.chordCir circle {
    transform-box: fill-box;
    transform-origin: center center;
    transition: scale 0.5s;
}

.chordDetail circle:hover {
    scale: 1.5
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 我加的 虽然前面也有改了的*/
.zhiqu_dot {
    transform-origin: center center;
    transform-box: fill-box;
    fill: rgb(175, 205, 185);

}

.zhiqu_line {
    stroke: rgb(172, 199, 173);
    stroke-width: 3px;
}

.zhiqu_dot.small {
    transition: all .5s;
}

.zhiqu_dot.small:hover {
    transform: scale(1.5);
    stroke: #80d1c8;
    fill: aliceblue;
}

.zhiqu_dot.small.selected {
    transform: scale(1.5);
    stroke: #80d1c8;
    fill: aliceblue;
}